; registry=https://nexus.riaint.ee/repository/npm-public/
; @ria:registry=https://nexus.riaint.ee/repository/riigiportaal-npm-local/
registry=https://koodivaramu.eesti.ee/api/v4/projects/651/packages/npm/
_authToken=
